body {
    padding-top: 70px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    background-color: #2c3e50;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.jumbotron {
    background-color: #ecf0f1;
}

footer {
    max-width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    margin-top: 100px;
}